{% extends 'index.html' %}

{% block title %}
    Add Advertisement
{% endblock %}

{% block content %}

    <section id="">

        <div class="container">

            <div class="row">

                <div class="col-md-6 col-md-offset-3">

                    <h2 class="text-center">Add a new Advertisement</h2>

                    <hr>

                    <form class="signup-form" method="POST" action="" enctype="multipart/form-data">

                        {% csrf_token %}

                        {% for field in form.visible_fields %}

                            <div class="form-group">
                                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                {{ field }}
                                {% for error in field.errors %}
                                    <span class="help-block" style="color:red">{{ error }}</span>
                                {% endfor %}
                            </div>

                        {% endfor %}

                        <div class="form-group text-center">

                            <button type="submit" class="btn btn-blue btn-block">Add</button>

                        </div>

                    </form>

                </div>

            </div>

        </div>

    </section>

{% endblock %}
