{% extends 'index.html' %}

{% block title %}
    Anuncios
{% endblock %}

{% block content %}

    <section id="advertisements">


        <div class="container">
            <h2 class="text-center">Lista de Anuncios</h2>
            <hr>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end my-3">
                <a href="{% url 'add_advertisement' %}" class="btn btn-secondary ms-auto">Añadir</a>
            </div>

            <div class="row">
                {% for item in items %}
                    {% include 'components/item.html' %}
                {% endfor %}
            </div>


        </div>

    </section>

{% endblock %}