{% extends 'index.html' %}

{% block title %}
    Eliminar Necesidad
{% endblock %}

{% block content %}
    <div class="col-3"></div>
    <div class="col-6 mx-auto my-5">
        <div class="card text-center">
        <div class="card-header">
            Eliminar necesidad
        </div>
        <div class="card-body">
            <form method="post" novalidate>
                {% csrf_token %}
                <h5>¿Está seguro de querer eliminar esta necesidad?</h5>
                <input type="submit" value="Confirmar" class="btn">
                <a href="{% url 'necessities_list' %}" class="btn btn-primary">Cancelar</a>
            </form>

        </div>
        </div>
    </div>
    <div class="col-3"></div>
{% endblock %}








