<!DOCTYPE html>
{% load static %}
<html lang="en">


<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Landing PAGE Html5 Template">

    <meta name="keywords" content="landing,startup,flat">

    <meta name="author" content="Made By GN DESIGNS">

    <link rel="icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}">

    <title>{% block title %} PA' CAMELLAR {% endblock %} </title>


    <!-- // PLUGINS (css files) // -->

    <link href="{% static 'assets/js/plugins/bootsnav_files/skins/color.css' %}" rel="stylesheet">

{#    <link href="{% static 'assets/js/plugins/bootsnav_files/css/animate.css' %}" rel="stylesheet">#}

{#    <link href="{% static '/js/plugins/bootsnav_files/css/bootsnav.css' %}" rel="stylesheet">#}

    <link href="{% static 'assets/js/plugins/bootsnav_files/css/overwrite.css' %}" rel="stylesheet">

    <link href="{% static 'assets/js/plugins/owl-carousel/owl.carousel.css' %}" rel="stylesheet">

    <link href="{% static 'assets/js/plugins/owl-carousel/owl.theme.css' %}" rel="stylesheet">

    <link href="{% static 'assets/js/plugins/owl-carousel/owl.transitions.css' %}" rel="stylesheet">

    <link href="{% static 'assets/js/plugins/Magnific-Popup-master/Magnific-Popup-master/dist/magnific-popup.css' %}"
          rel="stylesheet">

    <!--// ICONS //-->

{#    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css'"#}
{#          rel="stylesheet">#}

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--// BOOTSTRAP & Main //-->

    

   <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> -->

   <link href="{% static 'assets/css/from_bootstrap5.css' %}" rel="stylesheet">
   <link href="{% static 'assets/bootstrap-3.3.7/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
</head>

<body>
<!--Header-->

<!--//** Navigation**//-->
{% include 'components/navbar.html' %}

<!--//** Banner**//-->
{% block banner %}
    {% include 'components/banner.html' %}
{% endblock %}

{% block content %}
    {% include 'components/home.html' %}
{% endblock %}

<!--//** Banner**//-->
{% include 'components/footer.html' %}

<!--Modal-->

<!-- Modal -->

<div class="modal fade" id="SignIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

    <div class="modal-dialog" role="document">

        <div class="modal-content">

            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>

                <h4 class="modal-title text-center" id="myModalLabel">Sign In</h4>

            </div>

            <div class="modal-body">

                <form class="signup-form" method="POST" action="{% url 'login_user' %}">
                    {% csrf_token %}
                    <div class="form-group">

                        <input type="text" class="form-control" placeholder="User Name" name="username"
                               required="required">

                    </div>

                    <div class="form-group">

                        <input type="password" class="form-control" placeholder="Password" name="password"
                               required="required">

                    </div>

                    <div class="form-group text-center">

                        <button type="submit" class="btn btn-blue btn-block">Log In</button>

                    </div>

                </form>

            </div>

            <div class="modal-footer text-center">

                <div class="text-center">
                    <p></p>
                    <span>Don't you have an account? </span>
                    <a href=""> Register</a>
                </div>

            </div>

        </div>

    </div>

</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->

<script src="{% static 'assets/bootstrap-3.3.7/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>

<script src="{% static 'assets/js/plugins/owl-carousel/owl.carousel.min.js' %}"></script>

{#<script src="{% static 'assets/js/plugins/bootsnav_files/js/bootsnav.js' %}"></script>#}

<script src="{% static 'assets/js/plugins/typed.js-master/typed.js-master/dist/typed.min.js' %}"></script>

<script src="https://maps.googleapis.com/maps/api/js"></script>

<script src="{% static 'assets/js/plugins/Magnific-Popup-master/Magnific-Popup-master/dist/jquery.magnific-popup.js' %}"></script>

<script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>