

{% extends 'index.html' %}

{% block title %}
    Lista de Necesidades
{% endblock %}

{% block content %}

    <section id="necessities">

        <div class="container">

            <h2 class="text-center">Necesidades</h2>
            <hr>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end my-3">
                <a href="{% url 'add_necessity' %}" class="btn btn-secondary ms-auto">Añadir</a>
            </div>

            <div class="row">
                {% for item in items %}
                    {% include 'components/item.html' %}
                {% endfor %}
            </div>


        </div>

    </section>

{% endblock %}









