{% extends 'index.html' %}

{% block banner %}

    <section id="home" style="background: #0dcaf0">

        <div class="container">

            <div class="row">

                <!-- Introduction -->

                <div class="col-md-6 caption">

                    <h1>Bienvenido a PA' CAMELLAR</h1>

                    <h2>

                          ¡Estamos pa' ti!

                        </h2>

                    <p class="justify-content-around">Si eres una persona la cual posee grandes habilidades en un área y te encuentras desempleado,
                        esta app es para ti... Puedes hacer un anuncio de tu habilidad.
                        Por el contrario, si eres una persona con una necesidad, también puedes publicarla y te será
                        resuelto con ayuda de nuestros asociados.
                        Pa' camellar es tu ayuda eficaz!
                    </p>

                    </a>

                </div>

                <!-- Sign Up -->
                {% include 'components/sign_up_form.html' %}

            </div>

        </div>

    </section>

{% endblock %}