<footer>

    <div class="container">

        <div class="row">

            <div class="footer-caption col-12">

                <img src="static/assets/img/logo.png" class="img-responsive center-block" alt="logo">

                <hr>

                <h5 class="text-center">Equipo 7, &copy;2022 All rights reserved</h5>

{#                <ul class="liste-unstyled pull-right">#}
{##}
{#                    <li><a href="#facebook"><i class="fa fa-facebook"></i></a></li>#}
{##}
{#                    <li><a href="#twitter"><i class="fa fa-twitter"></i></a></li>#}
{##}
{#                    <li><a href="#linkedin"><i class="fa fa-linkedin"></i></a></li>#}
{##}
{#                    <li><a href="#instagram"><i class="fa fa-instagram"></i></a></li>#}
{##}
{#                </ul>#}

            </div>

        </div>

    </div>

</footer>