<!--========================================

       Services

========================================-->



<section id="services" class="section-padding">

    <div class="container">

        <h2>Nuestros Servicios</h2>

        <p>En cada servicio brindamos calidad y confianza a nuestros usuarios.</p>

        <div class="row">

            <div class="col-md-3">

                <div class="icon-box">

                    <i class="material-icons">thumb_up</i>

                    <h4>Gran Calidad</h4>

                    <p>Comprometidos con mantenernos en los más altos estandares de calidad.</p>

                </div>

            </div>

            <div class="col-md-3">

                <div class="icon-box">

                    <i class="material-icons">euro_symbol</i>

                    <h4>Los mejores precios</h4>

                    <p>Tenemos los mejores precios que puedas encontrar en el mercado.</p>

                </div>

            </div>

            <div class="col-md-3">

                <div class="icon-box">

                    <i class="material-icons">forum</i>

                    <h4>Soporte 24/7</h4>

                    <p>En todo momento estamos disponibles para resolver sus inconvenientes e inquietudes.</p>

                </div>

            </div>

            <div class="col-md-3">

                <div class="icon-box">

                    <i class="material-icons">view_carousel</i>

                    <h4>Diseño UX/UI</h4>

                    <p>Nuestra plataforma brinda la mejor experiecia a nuestros usuarios.</p>

                </div>

            </div>

        </div>

    </div>

</section>


<!--========================================

       Team

========================================-->



<section id="team" class="section-padding">

    <div class="container">

        <h2>Equipo de Profesionales</h2>

        <p>Excelentes desarrolladores pertenecientes al CAR IV, grupo 7 del curso Django básico</p>

        <div class="row">

            <div class="col-md-6 col-lg-4">

                <!--**Team-Member**-->

                <div class="thumbnail team-member">

                    <img src="static/assets/img/team-1.jpg" class="img-responsive img-circle" width="150px" height="150px"  alt="team-1">

                    <div class="caption">

                        <h4>Angélica Morales</h4>

                        <h6>Developer</h6>

                        <p>Desarroladora web especializada en el framework Django y la biblioteca react de JS</p>

                        <hr>

                        <div class="team-social">

                            <ul class="liste-unstyled">

                                <li><a href="#facebook"><i class="fa fa-facebook"></i></a></li>

                                <li><a href="#twitter"><i class="fa fa-twitter"></i></a></li>

                                <li><a href="#linkedin"><i class="fa fa-linkedin"></i></a></li>

                                <li><a href="#instagram"><i class="fa fa-instagram"></i></a></li>

                            </ul>

                        </div>

                    </div>

                </div>

            </div>

            <div class="col-md-6 col-lg-4">

                <!--**Team-Member**-->

                <div class="thumbnail team-member">

                    <img src="static/assets/img/team-2.jpg" class="img-responsive img-circle" width="150px" height="150px"  alt="team-2" style="">

                    <div class="caption">

                        <h4>Juan S. Sierra</h4>

                        <h6>Developer</h6>

                        <p>Encuentro interés en temas relacionado al desarrollo web, inteligencia artificial y robótica.</p>

                        <hr>

                        <div class="team-social">

                            <ul class="liste-unstyled">

                                <li><a href="#facebook"><i class="fa fa-facebook"></i></a></li>

                                <li><a href="#twitter"><i class="fa fa-twitter"></i></a></li>

                                <li><a href="#linkedin"><i class="fa fa-linkedin"></i></a></li>

                                <li><a href="#instagram"><i class="fa fa-instagram"></i></a></li>

                            </ul>

                        </div>

                    </div>

                </div>

            </div>

            <div class="col-md-6 col-lg-4">

                <!--**Team-Member**-->

                <div class="thumbnail team-member">

                    <img src="static/assets/img/team-3.jpg" class="img-responsive img-circle" width="150px" height="150px"  alt="team-3">

                    <div class="caption">

                        <h4>Jair Calderón</h4>

                        <h6>Developer</h6>

                        <p>Apasionado por la tecnología y el desarrollo de software con Python y Django.</p>

                        <hr>

                        <div class="team-social">

                            <ul class="liste-unstyled">

                                <li><a href="#facebook"><i class="fa fa-facebook"></i></a></li>

                                <li><a href="#twitter"><i class="fa fa-twitter"></i></a></li>

                                <li><a href="#linkedin"><i class="fa fa-linkedin"></i></a></li>

                                <li><a href="#instagram"><i class="fa fa-instagram"></i></a></li>

                            </ul>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>


<!--========================================

       Contact

========================================-->



<section id="contact" class="section-padding">

    <div class="container">

        <h2>Contáctenos</h2>

    </div>

    <!-- Contact Info -->

    <div class="container contact-info">

        <div class="row">

            <div class="col-md-4">

                <div class="icon-box">

                    <i class="material-icons">place</i>

                    <h4>Dirección</h4>

                    <p>Cartagena: Cll. 32 #23-13 Edf. Banco Popular of. #702</p>

                </div>

            </div>

            <div class="col-md-4">

                <div class="icon-box">

                    <i class="material-icons">phone</i>

                    <h4>Llámenos al</h4>

                    <p>301-485-6897</p>

                    <p>305-916-4578</p>

                </div>

            </div>

            <div class="col-md-4">

                <div class="icon-box">

                    <i class="material-icons">email</i>

                    <h4>Envíenos un Correo</h4>

                    <p>kpalacios@gmail.com</p>

                    <p>lmercado@gmail.com</p>

                </div>

            </div>

        </div>

    </div>

    <!-- Google Map -->

    <div id="map"></div>

    <!-- Contact Form -->

{#    <div class="contact-forms">#}
{##}
{#        <div class="container">#}
{##}
{#            <h2>Drop us a Line</h2>#}
{##}
{#            <form class="contact-form">#}
{##}
{#                <div class="col-md-6">#}
{##}
{#                    <div class="form-group">#}
{##}
{#                        <input type="text" class="form-control" placeholder="Full Name" required="required">#}
{##}
{#                    </div>#}
{##}
{#                    <div class="form-group">#}
{##}
{#                        <input type="email" class="form-control" placeholder="Email" required="required">#}
{##}
{#                    </div>#}
{##}
{#                </div>#}
{##}
{#                <div class="col-md-6">#}
{##}
{#                    <div class="form-group">#}
{##}
{#                        <textarea class="form-control" rows="3" placeholder="Message"></textarea>#}
{##}
{#                    </div>#}
{##}
{#                </div>#}
{##}
{#                <button type="submit" class="btn btn-blue">Send Message</button>#}
{##}
{#            </form>#}
{##}
{#        </div>#}
{##}
{#    </div>#}

</section>




