{% block content %}

<div class="col-6 mb-4 ">
    <div class="card text-center mx-4">
      <div class="card-header">
        {% if item.employee %}
            Publicado por: {{ item.employee }}
        {% else %}
            Publicado por: {{ item.employer }}
        {% endif %}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ item.title }}</h5>
        <p class="card-text">{{ item.description }}</p>

        {% if item.employee %}

            <p class="card-text">Habilidades: {{ item.skill }}</p>
            <a href="{% url 'edit_advertisement' item.id %}" class="btn btn-primary">Editar</a>
            <a href="{% url 'delete_advertisement' item.id %}" class="btn btn-danger">Eliminar</a>

        {% else %}

            <p class="card-text">Habilidades necesarias: {{ item.skill }}</p>
            <p class="card-text">Remuneración: ${{ item.remuneration }}</p>
            <p class="card-text">Tiempo requerido: {{ item.time_lapse }} weeks</p>

            <a href="{% url 'edit_necessity' item.id %}" class="btn btn-primary">Editar</a>
            <a href="{% url 'delete_necessity' item.id %}" class="btn btn-danger">Eliminar</a>

        {% endif %}

      </div>
      <div class="card-footer text-muted">
        Hace 2 días
      </div>
    </div>
</div>
{% endblock %}

