{% load static %}

  <nav class="navbar navbar-default navbar-fixed white bootsnav navbar-scrollspy" data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000" style="margin-bottom: 0px;">

    <div class="container">

        <!-- Start Header Navigation -->

        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">

                <i class="fa fa-bars"></i>

            </button>

            <a class="navbar-brand" href="#brand">

                <img src="{% static 'assets/img/logo.png' %}" class="logo" alt="logo">

            </a>

        </div>

        <!-- End Header Navigation -->



        <!-- Collect the nav links, forms, and other content for toggling -->

        <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="nav navbar-nav navbar-right">

                <li class=""><a href="{% url 'home' %}">Home</a></li>

                <li class=""><a href="{% url 'home' %}#services ">Servicios</a></li>

                <li class=""><a href="{% url 'home' %}#team ">Equipo</a></li>

                <li class=""><a href="{% url 'home' %}#contact" >Contacto</a></li>

                {% if request.user.is_authenticated %}
                    <li class=""><a href="{% url 'necessities_list' %}#necessities">Necesidades</a></li>

                    <li class=""><a href="{% url 'advertisements_list' %}#advertisements">Anuncios</a></li>

                    <li class=""><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
                {% endif %}

            {% if not request.user.is_authenticated %}
                <li class="button-holder">

                    <button type="button" class="btn btn-blue navbar-btn" data-toggle="modal" data-target="#SignIn">Iniciar Sesión</button>

                </li>
            {% endif %}

            </ul>

        </div>

        <!-- /.navbar-collapse -->

    </div>

</nav>
