{% if not request.user.is_authenticated %}

    <div class="col-md-5 col-md-offset-1">

        <form class="signup-form" method="POST" action="{% url 'register_user' %}">

            {% csrf_token %}
            <span class="help-block" style="color:red">{{ form.errors.password }}</span>

            <h2 class="text-center">Regístrese Ahora</h2>

            <hr>

             <div class="form-group">

                <input type="text" class="form-control" placeholder="Name" required="required" id="id_name" name="name">

            </div>
            <div class="form-group">

                <input type="text" class="form-control" placeholder="Last Name" required="required" id="id_lastname" name="lastname">

            </div>
             <div class="form-group">
                 <option selected>Tipo de documento</option>
                {{ form.document_type }}
            </div>
            <div class="form-group">

                <input type="number" class="form-control" placeholder="Número de documento" required="required" id="id_document_number" name="document_number">

            </div>
            <div class="form-group">

                <input type="number" class="form-control" placeholder="Edad" required="required" id="id_age" name="age">

            </div>
            <div class="form-group">

                <input type="text" class="form-control" placeholder="Número de teléfono" required="required" id="id_phone_number" name="phone_number">

            </div>

            <div class="form-group">

                <input type="email" class="form-control" placeholder="Corre electrónico" required="required" id="id_email" name="email">

            </div>
    {#                        <div class="form-group">#}
    {#                            <select class="form-select form-select mb-5 form-control" aria-label=".form-select example"#}
    {#                                    style="padding-bottom: 0px;padding-top: 0px; " id="id_city" name="city">#}
    {#                                <option selected>Seleccione ciudad</option>#}
    {#                                <option value="1">City 1</option>#}
    {#                                <option value="2">City 2</option>#}
    {#                            </select>#}
    {#                        </div>#}

            <div class="form-group">
                <option selected>Seleccione ciudad</option>
               {{ form.city}}
            </div>

            <div class="form-group">

                <input type="text" class="form-control" placeholder="Nombre de usuario" required="required" id="id_user_name" name="user_name" >

            </div>

            <div class="form-group">

                <input type="password" class="form-control" placeholder="Contraseña" required="required"  name="password1" id="id_password1" >

            </div>
            <div class="form-group">

                <input type="password" class="form-control" placeholder="Confirme su contraseña" required="required"  name="password2" id="id_password2" >

            </div>


            <div class="form-group">
                <select class="form-select form-select mb-5 form-control" aria-label=".form-select example"
                        style="padding-bottom: 0px;padding-top: 0px; " id="id_option" name="option">
                    <option selected>Seleccione rol</option>
                    <option value="1">Empleado</option>
                    <option value="2">Empleador</option>
                </select>

            </div>
              <div class="form-group">
                  <option selected>Habilidad</option>
                  {{ form.skill }}
            </div>

            <div class="form-group text-center">

                <button type="submit" class="btn btn-blue btn-block">Start Now</button>

            </div>

        </form>

    </div>

{% endif %}